/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 224, 244, 255;
  --secondary-rgb: 255, 238, 217;
  --tertiary-rgb: 135, 196, 255;
  --quaternary-rgb: 54, 78, 102;
  --primary-text-rgb: 0, 0, 0
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  width: 100%;
}  

html, body {
  min-height: 100%;
  height: auto;
  margin: 0;
  font-family: "PT Sans";
}

body {
  width: 100%;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(255, 255, 255))
    rgb(var(--primary-rgb));
}

h1 {
  font-size: 2em; /* Adjust size as needed */
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

blockquote {
  margin: 1em 40px;
  padding: 0;
  border-left: 0;
  font-style: italic;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

p {
  margin: 1em 0;
}


main {
  color: rgb(var(--primary-text-rg));
  
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

table { table-layout: fixed; }
td { width: 50%; }
figure figcaption { text-align: center; font-size: small; }
a { text-decoration: none; color: cadetblue; }

.expanding-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease, left 0.3s ease;
}

.expanding-underline:hover::after {
  width: 100%;
  left: 0;
}

#logo-img {
  max-height: 10vh;
  filter: invert(41%) sepia(22%) saturate(1282%) hue-rotate(162deg) brightness(97%) contrast(90%);
}

.hover\:bg-special-blue:hover #logo-img {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(156deg) brightness(117%) contrast(100%);
}

.global:hover #logo a {
  color: white;
  text-decoration: none;
}

#orange-juice {
  max-height: 5vh;
}

.footbar {
  color: white;
}

.logo {
  margin-right: 25px; 
  height: 87%;
}

#banner {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 200px; 
  background-image: url("lemonade-astro/img/lemonade-header.png");
  background-position: center;
  background-size: cover;
  color: black;
  text-align: left;
  padding: 20px 20px;
}

.glossy-link {
  background-color: rgba(0, 0, 0, 0.1);
}

.glossy-link::before {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 20%, transparent 60%);
}