
.title {
    margin-bottom: 0;
}

.flexy {
    display: flex;
    justify-content: space-between;
}

#poke-start-screen {
    float: right;
    width: 20%;
    padding: 10px;
    text-align: center;
    font-size: x-small;
}

#poke-start-screen-img {
    max-width: 100%;
}