---

---
<div class="bg-quaternary p-4 footbar">
    <br />
    <p>As a fun fact, it might seem like this website is flat because you&apos;re viewing it on a flat screen, but the curvature of this website actually isn&apos;t zero. ;-)</p>
    <p>Copyright © 2024, Aathreya Kadambi</p>    
    <p>Made with Astrojs, React, and Tailwind.</p>
</div>