---

---
<div class="m-4 p-4 bg-solved-blue border-red-500 border-t-4 border-r-0 border-b-0 border-l-0">
  <h2>News</h2>
    
  <p>I&apos;m currently reading about quantum mechanics, ferrofluids, and .</p>
  <h3 class="text-muted">Blog</h3>
  <p>
  [06/20/2024:] <a href="https://www.ocf.berkeley.edu/~aathreyak/orange-juice/sketches/sketch-7/">It Turns Out Measure Theory Actually <i>Is</i> Useful</a><br />
  [06/04/2024:] <a href="/blueflame/rlog/paradoxical-areas.html">Paradoxical Areas</a><br />
  [05/18/2024:] <a href="/blueflame/blog/grafting-and-gpus/">Grafting and GPUs</a><br />
  [04/27/2024:] <a href="/blueflame/blog/roses-and-radiance-fields/">Roses and Radiance Fields</a><br />
  </p>
  <h3 class="text-muted">Notes</h3>
  <p>
  Working on notes on the Derivative operator, and uploading my previous course notes onto this blog!
  </p>
  <h3 class="text-muted">Projects</h3>
  <p>
  Finally started a projects page! I&apos;ve recently made some nice upgrades to my post component, so it looks pretty clean! ;)
  </p>
  <h3 class="text-muted">🌊</h3>
  <p>I&apos;m considering whether or not to continue this project using WebGL or Three.js.</p>
  <p>I&apos;m also researching methods for generating the 3D scenes I want for this project automatically.</p>
  <p>In the meantime, I&apos;ve decided to proceed with some preliminary prototypes of the other interactive parts of this project.</p>
  <h3 class="text-muted">Orange Juice</h3>
  <p>I like orange juice. :)</p>
</div>